ВНИМАНИЕ!ОБЩИЕ ТРЕБОВАНИЯ КО ВСЕМ УЧАСТНИКАМ ПРОЕКТА!

888888888888888888

1) Стартовым приложением сделать NpoMash.Erm.Hrm.Tests.AppWin

2) Использовать типы данных только XAF; типы данных должны начинаться с большой буквы, например : String

3) Если ваш класс не видит другой класс используйте директиву Using перед определением класса,
   например:
   
   using IntecoAG.Erm.FM.Order;
   public class HrmPeriodOrderControl : BaseObject {}

4)Вместо [DefaultClassOptions] желательно использовать аттрибут [Persistent("имя_класса")], 
  например: 
  [Persistent("HrmPeriodOrderControl")]

  Данный аттрибут размещать строго после директивы Using, а то работать не будет.

5) SetPropertyValue использовать только типизированный!!! 
   Например: SetPropertyValue<String>(_параметры_)

